{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> WELCOME </title>
    <link rel="stylesheet" href="{% static 'styles/style1.css' %}">
</head>
<body>
    <style>
    body {background-image:url('static/images/aeroplane.jpeg');
    background_size:cover;
    background_attachment:fixed;
    height:100px;width:100%;
    background-position:center;
    }
    </style>

    <center>
    <br>
    <div class="m1">
        <marquee direction="right">WELCOME</marquee>
    </div><br><br><br>
    </center>
<center>
<div class="m2" style="height:400px;width:35%;"><br>
<form action="login" method="post">
        {% csrf_token %}<br>
        <a href='javascript:history.go(-1)'  class="btn" style="margin-left:300px;color:black;">Go Back</a><br><br>
    <img src="{% static 'images/logouser.jpg' %}"height="100px"width="100px"/><br><br>
    Username <input type="text" name="username"placeholder="email/username"><br><br>
    Password <input type="password" name="password"placeholder="enter password"/><br><br>
    <input type="Submit" value="Login"><br><br>
        <a href="registration">New User</a><br><br>
        <a href="{% url 'password_reset' %}">Forget password ?</a>
</form>
</div>
     </center>
<div>
        {% for messages in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>