.m1 ul {
height:800px;width:50%;
}
.m1 ul li
{
height:700px;width:80%;background-color:#C0C0C0;border:3px solid #f1f1f1;font-size:24px;background:rgba(255,255,255,.5);
}
h2
{
font-color:white;font-size:30px;
}